:root{
    --primary-color: #615D5D;
    --primary-color-dark: #6096B4;
    --secondary-color: #EBEFF2;
    --text-dark: #153448;
    --text-light: #615D5D;
    --extra-light:#4D869C;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #CDE8E5;
    z-index: 99;
}
.nav__content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img[alt='logo']{
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

nav .check{
 display: none;
}

nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}
.homepage {
    background-color: var(--extra-light)
}

.section__container1{
    min-height: 300px;
    margin: auto;
    padding: 4rem
}

.image1{
    display: flex;
    justify-content: center;
    
}

.image1 img{
    width: 400px;
    border-radius: 100%;
    border:  solid;
    border-width: 10px;
    height: 400px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #615D5D;
    margin-left: 1rem;
}

.title span{
     font-weight: 600;
}

.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.action__btns button{
    font-size: 1rem;    
    font-weight: 200;
    height: 50px;
    width: 200px;
    margin-inline-end: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3;
    cursor: pointer;
}

.reach__me{
   color: var(--primary-color);
   justify-content: end;
}

.reach__me:hover{
    background-color: var(--primary-color);
    color: antiquewhite;
}
.portfolio{
    color: var(--primary-color);
}

.portfolio:hover{
    background-color: var(--primary-color);
    color:antiquewhite
}

.about{
    background-color: var(--secondary-color);
    padding: 5rem;
    display: grid;  
    justify-content: right;
    align-content: space-between;
}

#about{
        background: url('https://github.com/LonkeHintsho/Project-Pictures/blob/main/images/Gala%20dinner%202021.jpg?raw=true') no-repeat 50% 50%;
        background-size: cover;
        background-attachment: fixed; 
    }

    .description1{
        border-radius: 5px;
        border: solid;
        background-color: #e7ecee;
        width: 400px;  
    }


.education{
    background-color: lightblue;
    background-image: -moz-element();
    padding: 4rem;
}
.section__container3{
    min-height: 300px;
    margin: auto;
    padding: 4rem;
    display: flex;
    justify-content: space-around; 
    
}
.image2{
    display: flex;
    justify-content: end;
}

.image2 img{
    width: 400px;
    border-radius: 50px;
    border-color: #153448;
    border: solid;
    border-width: 10px;
    height: 400px;
}

.experience{
    background-color: #d1c8c8;
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.section__container4{
    min-height: 300px;
    margin: auto;
    padding: 4rem;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around; 
    
}
.description2{
    border-radius: 10px;
    border: solid;
    background-color: #8a9da4;
    width: 500px;
}
.description3{
    border-radius: 10px;
    border: solid;
    background-color: #8a9da4;
    width: 500px;
}

.image3{
    display: flex;
    justify-content: end;
}

.image3 img{
    width: 400px;
    border-radius: 50px;
    border-color: #153448;
    border: solid;
    border-width: 10px;
    height: 400px;
}
.projects{
      min-height: 300px;
    margin: auto;
    padding: 4rem;
    background-color: #e7ecee;
    display: flex;

}
.section__container5{
    min-height: 300px;
    margin: auto;
    padding: 4rem;
    background-color: #e7ecee;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around; 
}
.image4 img{
    width: 500px;
    border-radius: 5px;
    border-color: #153448;
    border: solid;
    border-width: 5px;
    height: 400px;
}